* {
    margin: 0;
    padding: 0;
    letter-spacing: .5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --main-bg-color: #4b5ed3;
    --secundary-bg-color: #6c7dea ;
}

.mainContainer {
    width: 100%;
    height: 100vh;
    background: #e6e6e6;
}

.contenedor1 {
    width: 100%;
    height: 60%;
    background: var(--main-bg-color);
    display: flex;
    justify-content: center;
}

.tituloContainer {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
}

.titulo {
    color: #fff;
}

.titulo h3 {
    font-weight: 500;
}

.contenedor2 {
    transform: translate(0, -55%);
    margin: 0 auto;
    width: 75%;
    height: 60%;
    background: #fff;
    display: flex;
}

.fotoContainer {
    width: 35%;
    height: 100%;
}

.fotoContainer img {
    width: 100%;
    height: 100%;
}

.infoContainer {
    width: 65%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.headerContainer {
    width: 90%;
    height: 35%;
    box-sizing: border-box;
}

.saludo {
    padding: 5px 10px;
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    background: var(--secundary-bg-color);
    margin-top: 30px;
    position: relative;
}

.saludo::before {
    content: "";
    position: absolute;
    bottom: -45%;
    left: 90%;
    width: 0;
    height: 0;
    border-width: 15px 15px 0px 0px;
    transform: rotate(90deg);
    border-style: solid;
    border-color: var(--secundary-bg-color) transparent transparent;
}

.headerContainer h1 {
    font-weight: 400;
}

.headerContainer h1 span {
    font-weight: 500;
    color: var(--secundary-bg-color);
}

.headerContainer p {
    font-weight: 450;
}

.bodyContainer {
    width: 90%;
    height: 50%;
    border-top: solid 1px #dedede;
    box-sizing: border-box;
}

.tableContainer {
    width: 60%;
    height: 90%;
    display: flex;
}

.tableContainerTitles {
    width: 20%;
    height: 100%;
}

.tableContainerTitles h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tableContainerDescription {
    width: 80%;
    height: 100%;
}

.tableContainerDescription p {
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0px;
    font-size: .8rem;
}

.footerContainer {
    width: 100%;
    height: 15%;
    background: var(--main-bg-color);
    display: flex;
    align-items: center;
}

.footerContainer i {
    width: 16%;
    display: flex;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}

.footerContainer i:hover {
    opacity: .5;
}